.filter-group {
    background-color: white;
    width: 308px;
  }
  
  .filter-group-title {
    font-size: 16px;
    color: var(--dark-gray-2);
    margin: 0 0 10px 0;
    border-bottom: 1px solid var(--light-gray-2);
    padding-bottom: 20px;
    padding-top: 5px;
  }

  .filter-group-title hr:not(:first-child) {
    display: none;
  }
  
  .filter-group-subtitle {
    font-size: 14px;
    color: var(--dark-gray-2);
    margin-top: 20px;
  }
  
  
  .filter-group-divider {
    border: 1px solid var(--light-gray-2);
  }
  
  .filter-group-options {
    list-style: none;
    padding: 0;
  }
  
  .filter-group-option {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .filter-group-option input {
    width: 22px;
    height: 22px;
    margin-left: 0;
    margin-right: 10px;
    accent-color: var(--primary);
  }
  
  .filter-group-option label {
    font-size: 14px;
    color: var(--dark-gray-2);
  }