/* Desabilita a rolagem do body quando o modal está aberto */
.modal-open {
  overflow: hidden;
}

/* Estilos do modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Overlay semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;


}

.cadastro .modal-content {
  background-color: white;
  height: 660px;
  width: 520px;
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 15px;
  text-align: center;
}

.modal .cadastro  h2 {
  font-size: 22px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.cadastro .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.cadastro .avisolgpd {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7e8df;
  font-size: 12px;
  height: 30px;
  margin-bottom: 10px;
}

.cadastro .icon {
  margin-right: 8px;
  width: 11px;
  height: 13px;
}

.cadastro .form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}


.cadastro .form input {
  border: 1px solid #b9b7b7;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  margin: 10px 0 10px 0;
  padding-left: 10px;
  width: 75%;

}

.cadastro .form input::placeholder {
  font-size: 14px; /* ou qualquer outro valor que você deseje */
}

.cadastro .form button:hover {
  background-color: #991a57;
  color: #FFFFFF;
  transition: 1000ms;
}

.cadastro .form button {
  background-color: var(--primary);
  height: 40px;
  width: 77%;
  border-radius: 20px;
  font-size: 15px;
  color: white;
  transition: 0.5s ease-out;
  margin: 0;
  margin-top: 10px;
}

.cadastro .link2{
  padding: 10px;
  text-decoration: underline;
  font-size: 12px;
}

.cadastro .acessorapido{
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
padding-top: 10px;
}

.cadastro .acessorapido .left{
  display: inline-block;
  height: 1px;
  width: 22%;
  background-color: #c8c8c8;

}

.cadastro .acessorapido label{
  padding: 0 10px 0 10px;
}

.cadastro .acessorapido .right{
  display: inline-block;
  height: 1px;
  width: 22%;
  background-color: #c8c8c8;
  
}