:root {
  --primary: #C92071;
  --secondary: #B5B6F2;
  --tertiary: #991956;
  --error: #EE4266;
  --success: #52CA76;
  --warning: #F6AA1C;

  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8F8F8F;
  --light-gray-2: #CCCCCC;
  --light-gray-3: #F5F5F5;
  --white: #FFFFFF;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}


/*ESTILIZAÇÃO DO COMPONENTE HEADER*/

a {
  text-decoration: underline;
  color: #474747;
  font-size: 16px;
  margin-left: 8px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  padding: 50px 0 0 90px;

}

form {
  display: flex;
  background-color: #F5F5F5;
  width: 525px;
  justify-content: space-between;
  border-radius: 4px;
  align-items: center;
}

form button {
  display: flex;
  align-self: center;
  background-color: #F5F5F5;
  height: 40px;
  margin-right: 12px;
  justify-content: center;
}

input {
  background-color: #F5F5F5;
  width: 95%;
  font-size: 16px;
  margin: 0 0 0 10px;
  letter-spacing: 1, 5px;
}

button {
  margin: 5px;
}

div .button {
  height: 40px;
  width: 114px;
  border-radius: 4px;
  background-color: #C92071;
  color: #FFFFFF;
}

div .button:hover {
  background-color: #991a57;
  color: #FFFFFF;
  transition: 1000ms;
}

.botao-cadastre-se {
  color: #474747;
  margin: 20px;
}



.nav-bar {
  width: 100%;
  display: flex;
  align-content: flex-start;
  margin-top: 0px;
  margin-left: 0px;
}

.nav-bar ul {
  display: flex;
  margin: 40px 0px;
  text-decoration: none;
}

.nav-bar ul a {
  text-decoration: none;
}

img {
  margin-left: 0px;
  align-items: flex-start;
}

/*ESTILIZAÇÃO DO COMPONENTE FOOTER*/

.footer {
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 55px 0 0 0;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  margin: 0 0 45px 0;
}

.footer-logo-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 10%;
  width: 550%;
  padding-left: 90px;
}

.footer-logo img {
  margin-bottom: 35px;
  filter: brightness(0) invert(1);
  width: 253px;
  height: 44px;

}

.footer-logo-description p {
  text-align: left;
  line-height: 25px;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 40px;
  padding-right: 30px;
  color: var( --light-gray-2);
}


.footer-social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-social-icons img {
  margin: 0 15px 0 0;
}

.infosection-content {
  display: inline-flex;
  width: 80%;
}

.info-section {
  margin-bottom: 20px;
  width: 250px;
  padding-right: 45px;
  text-align: justify;
}

.info-section h3 {
  margin-bottom: 35px;
  font-size: 16px;
}

.info-section ul {
  list-style: none;
  padding: 0;
}

.info-section ul li {
  margin: 20px 0 0 0;
}

.info-section ul li a {
  color: var( --light-gray-2);
  text-decoration: none;
  margin: 0 0 0 0;
}

footer hr {

  border: 0.1px solid var( --light-gray-2);
  padding-left: 90px;
  margin-left: 90px;
}

.footer {
  background-color: #1F1F1F;
  color: var(--white);
  width: 100%;
  padding-bottom: 0;
}


.p-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  color: var( --light-gray-2);
  margin-top: 8px;
}


/*ESTILIZAÇÃO DO COMPONENTE SECTIONS*/



.section {
  margin: 150px 0;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.section-header.left {
  display: flex;
  justify-content: center;
}

.section-header.center {
  justify-content: center;
}

.section-header h2 {
  color: var(--dark-gray-2);
  font-size: 24px;
  margin: 0;
}

.section-link {
  color: var(--primary);
  font-size: 18px;
  text-decoration: none;
  margin-left: auto;
}

.section-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

/*ESTILIZAÇÃO DO COMPONENTE CARTAO DE PRODUTO*/



.product-card {
  width: 292px;
  margin: 20px;
  text-align: center;
}

.product-image {
  width: 292px;
  height: 321px;
  object-fit: cover;
}

.product-name {
  margin: 10px 0;
  color: var(--dark-gray);
  font-size: 18px;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-price {
  color: var(--dark-gray);
  font-size: 24px;
}

.original-price {
  color: var(--light-gray);
  text-decoration: line-through;
}

.discounted-price {
  color: var(--dark-gray);
  font-size: 24px;
}


/*ESTILIZAÇÃO DO COMPONENTE LISTA DE PRODUTOS*/



.product-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.product-card {
  width: 292px;
  margin: 20px;
  text-align: center;
}

.product-image {
  width: 292px;
  height: 321px;
  object-fit: cover;
}

.product-name {
  margin: 10px 0;
  color: var(--dark-gray);
  font-size: 18px;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-price {
  color: var(--dark-gray);
  font-size: 24px;
}

.original-price {
  color: var(--light-gray);
  text-decoration: line-through;
}

.discounted-price {
  color: var(--dark-gray);
  font-size: 24px;
}


/*ESTILIZAÇÃO DO COMPONENTE Gallery*/

.gallery-content{
  display: flex;
  justify-content: center;
}


.gallery {
  position: relative;
}

.gallery-slider {
  position: relative;
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.gallery-arrow-left {
  left: 10px;
}

.gallery-arrow-right {
  right: 10px;
}

.gallery-thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.gallery-thumbnail {
  cursor: pointer;
  margin-right: 5px;
  object-fit: cover;
}

.gallery-thumbnail.active {
  border: 2px solid var(--primary-color); /* Ajuste a cor para o seu tema */
}

.gallery-thumbnail:last-child {
  margin-right: 0;
}