/* Arquivo App.css 

:root {
    --primary: #C92071;
    --secondary: #B5B6F2;
    --tertiary: #991956;
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;
  
    --dark-gray: #1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --white: #FFFFFF;
  }*/

*{
    padding: 0;
    margin: 12px 0 0 15px;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: underline;
    color: #474747;
    font-size: 16px;
    margin-left: 8px;
}
header { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
   
  }

  form{
    display: flex;
    background-color: #F5F5F5;
    width: 525px;
    justify-content: space-between;
    border-radius: 4px;
    align-items: center;
  }

  form button {
  display: flex;
  align-self: center;
  background-color:#F5F5F5;
  height: 40px;
  margin-right: 12px;
justify-content: center;
  }

  input {
    background-color: #F5F5F5;
    width: 95%;
    font-size: 16px;
    margin: 0 0 0 10px;
    letter-spacing: 1,5px;
  }

  button {
 margin: 5px;
  }

 div .button {
    height: 40px;
    width: 114px;
    border-radius: 4px;
   background-color: #C92071;
   color: #FFFFFF;
  }

  div .button:hover {
   background-color: #991a57;
   color: #FFFFFF;
   transition: 1000ms;
  }

  .botao-cadastre-se {
    color: #474747;
    margin: 20px;
  }



  .nav-bar {
    width: 100%;
    display: flex;
    align-content: flex-start;
    margin-top: 0px;
    margin-left: 0px;
}

.nav-bar ul {
    display: flex;
    margin: 40px 0px;
    text-decoration: none;
}

.nav-bar ul a {
  text-decoration: none;
}

img {
  margin-left: 0px;
}
 
.footer {
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer-logo {
  margin-bottom: 10px;
}

.footer-social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-social-icons a {
  color: var(--white);
}

.info-section {
  margin-bottom: 20px;
}

.info-section h3 {
  margin-bottom: 10px;
}

.info-section ul {
  list-style: none;
  padding: 0;
}

.info-section ul li {
  margin-bottom: 5px;
}

.info-section ul li a {
  color: var(--white);
  text-decoration: none;
}

footer hr {
  width: 100%;
  border: 1px solid var(--light-gray);
  margin: 20px 0;
}

footer p {
  text-align: left;
  width: 100%;
}


  
